<nav class="navbar">
  <div class="logo">Tienda Angular</div>

  <div class="menu">
    <a routerLink="/inicio" routerLinkActive="activo">Inicio</a>
    <a routerLink="/productos" routerLinkActive="activo">Productos</a>
    <a routerLink="/registro" routerLinkActive="activo">Registro</a>
    <a routerLink="/alumnos" routerLinkActive="activo">Alumnos</a>
    <a routerLink="/pregunta1" routerLinkActive="activo" >Pregunta 01</a>
    <a routerLink="/pregunta2" routerLinkActive="activo" >Pregunta 02</a>
  </div>
</nav>
