<nav class="navbar">
  <div class="logo">Tienda Angular</div>

  <div class="menu">
    <a routerLink="/inicio" routerLinkActive="activo">Inicio</a>
    <a routerLink="/productos" routerLinkActive="activo">Productos</a>
    <a routerLink="/registro" routerLinkActive="activo">Registro</a>
    <a routerLink="/alumnos" routerLinkActive="activo">Alumnos</a>
    <a routerLink="/profesores" routerLinkActive="activo">Profesores</a>
    <a routerLink="/notas" routerLinkActive="activo">Notas</a>
  </div>
</nav>
